<div class="msg-btn">{{#link-to 'messages.new' classNames='btn btn-primary'}}Add a new message{{/link-to}}</div>
{{outlet}}

{{#if isEnteringMessage}}
  <button >
    Clear completed.
  </button>
{{/if}}

{{#each message in model}}
	<div class="each-msg"><em>{{message.name}}</em>: {{message.body}}</div>
{{/each}}

